<h1><%= @account.username %></h1>
<hr />
<ul>
    <li><strong>Password</strong>: <%= @account.password %></li>
    <li><strong>Email</strong>: <%= @account.email %></li>
    <li><strong>Profile ID</strong>: <%= @account.profile %></li>
</ul>
<small>Created <%= @account.created_at %></small>